#map{
    width:80%; 
    height:40em;
}
.background-header,
.background-footer
{
    background: #964b00;

}
.main-table
{
    background: #FFA500;

}


.background {
  background: #987654 ;
}


/* FFA500 - апельсин
  964b00 - не апельсин
  #808000 - оливка
  987654 - светлый не апельсин*/